<div>

    <a routerLink="/login">Login</a><br>
    <a routerLink="/fund-transfer">Fund Transfer</a><br>
    <a routerLink="/customer">Customers</a><br>
    <a routerLink="/dashboard">Dashboard</a><br>
    <a [routerLink]="['/transaction', '1001']">Transaction</a><br>
    <a routerLink="/reactive-fund-transfer">Reactive Fund Transfer</a><br>
    <a routerLink="/apply-loan">Apply loan</a><br>
    <a routerLink="/beneficiary">beneficiary</a><br>
    <button (click)="logout()">logout</button>
</div><br><br>