.bg-success {
  background-color: rgb(181, 254, 181);
}
.bg-pending {
  background-color: rgb(207, 171, 103);
}
.bg-failed {
  background-color: rgb(255, 143, 143);
}

.bg-selected {
  background-color: rgb(143, 203, 255);
}
